@page "/"

<div class="container">
    <div class="row">
        <h1>Craig & Libby's</h1>
    </div>
    <div class="row">
        <h3>New Zealand Adventure</h3>
    </div>
<Steps/>
    <img src="https://user-images.githubusercontent.com/4436733/178112152-e6341ee2-b380-479a-a3a0-9ff6ed5043ea.jpg" width="900" height="1100"/>
</div>
